*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    line-height: 1.5;
    min-height: 100vh;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    padding: 16px;
}

.container {
    display: grid;
    grid-template-columns: minmax(96%, min-content);
    place-items: center;
    place-content: center;
    border: 1px solid #000;
    width: 100%;
    min-height: 100vh;
}

.card {
    display: grid;
    grid-template-columns: minmax(auto, 384px);
    align-items: center;
    justify-items: center;
    border: 1px solid #000;
    filter: drop-shadow(0.6em 0.6em hsl(0, 0%, 7%));
    border-radius: 1.25rem;
    background: #fff;
    position: relative;
}


.card-img {
    margin-inline: min(1.4em, 6vw);
    margin-block: min(1.4em, 4vh);
}

.card-img img {
    min-height: 201px;
    object-fit: cover;
    border-radius: 1rem;
}

.card-body {
    margin-inline: 1.4em;
}

.badge {
    background: hsl(47, 88%, 63%);
    display: inline-block;
    padding-inline: 0.75em;
    padding-block: 0.35em;
    border-radius: 0.2rem;
    font-size: 0.85em;
    font-weight: 800;
    margin-bottom: 0.9em;
}

.card-body p:nth-of-type(2) {
    font-weight: 500;
    font-size: clamp(.8rem, .775rem + .10vw, .875rem);
    margin-bottom: 1.2em;
}

.card-title {
    margin-bottom: 0.7em;
}

h2 a {
    text-decoration: none;
    color: #000;
    font-size: clamp(1.25rem, 1.16rem + .56vw, 1.5rem);
    font-weight: 800;
    z-index: 2;
}


.card h2 a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
}

.card:hover,
.card:focus,
.card:active {
    filter: drop-shadow(1em 1em hsl(0, 0%, 7%));
    transition: 2s dropshadow steps(3);
}


h2 a:hover {
    color: hsl(47, 88%, 63%);
    transition: 200ms color;
}

p.card-text {
    color: hsl(0, 0%, 42%);
    font-size: clamp(.875rem, .831rem + .19vw, 1rem);
    margin-bottom: 1.3em;
}

.credential {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1.4em;
}

.credential p {
    font-weight: 800;
    font-size: 0.85rem;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}